In [1]:
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 90)

# Reading a CSV file into a DataFrame

In [3]:
# read in msft.csv into a DataFrame
msft = pd.read_csv("msft.csv")
msft[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [4]:
# use column 0 as the index
msft = pd.read_csv("msft.csv", index_col=0)
msft[:5]

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

In [5]:
# examine the types of the columns in this DataFrame
msft.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [7]:
# specify a new set of names for the columns
    # all lower case (chuyen ten thanh chu thuong), remove space in Adj Close

df = pd.read_csv("msft.csv",
                 header=0, # skips the header row (bo dong dau tien: header cu)
                 names=['date', 'open', 'high', 'low',
                        'close', 'volume'])
df[:5]

        date   open   high    low  close   volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [9]:
# Specifying specific columns to load
    # read in data only in the Date and Close columns
    # and index by the Date column
df2 = pd.read_csv("msft.csv",
                  usecols=['Date', 'Close'],
                  index_col=['Date'])
df2[:5]

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

# Saving DataFrame to a CSV file

In [11]:
# Saving a DataFrame to a CSV
    # save df2 to a new csv file
    # also specify naming the index as date
df2.to_csv("msft_modified.csv", index_label='date')

# Working with general field-delimited data

In [13]:
#General field-delimited data
    # save as pipe delimited
df.to_csv("msft_piped.txt", sep='|')

# Handling variants of formats in field-delimited data

In [15]:
# read, but skip rows 0, 2 and 3
df = pd.read_csv("msft2.csv", skiprows=[0, 2, 3])
df[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [17]:
# skip only two lines at the end
df = pd.read_csv("msft_with_footer.csv",
                 skipfooter=2,
                 engine = 'python') #Note that we had to specify engine = 'python'. At least with Anaconda, without this option a warning is given
df

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800

In [19]:
# only process the first three rows
pd.read_csv("msft.csv", nrows=3)

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000

In [20]:
# skip 100 lines, then only process the next five
pd.read_csv("msft.csv", skiprows=100, nrows=5,
            header=0, #skip header and use the specific name
            names=['date', 'open', 'high', 'low',
                   'close', 'vol'])

        date   open   high    low  close      vol
0   3/3/2014  80.35  81.31  79.91  79.97  5004100
1  2/28/2014  82.40  83.42  82.17  83.42  2853200
2  2/27/2014  84.06  84.63  81.63  82.00  3676800
3  2/26/2014  82.92  84.03  82.43  83.81  2623600
4  2/25/2014  83.80  83.80  81.72  83.08  3579100

# Reading and writing data in Excel format

In [21]:
  # only reads first sheet (msft in this case)
df = pd.read_excel("stocks.xlsx")
df[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [24]:
# read from the aapl worksheet
aapl = pd.read_excel("stocks.xlsx", 'aapl')
aapl[:5]

        Date   Open   High    Low  Close    Volume
0 2014-07-21  94.99  95.00  93.72  93.94  38887700
1 2014-07-18  93.62  94.74  93.02  94.43  49898600
2 2014-07-17  95.03  95.28  92.57  93.09  57152000
3 2014-07-16  96.97  97.10  94.74  94.78  53396300
4 2014-07-15  96.80  96.85  95.03  95.32  45477900

In [26]:
# save to an .XLS file, in worksheet 'Sheet1'
df.to_excel("stocks2.xls")  # #df = file stocks.xlsx đã mở ở trên, copy ra file mới tên stocks2.xlsx (co the doi ten khac)

In [29]:
# write making the worksheet name MSFT
df.to_excel("stocks_msft.xls", 'MSFT') # # tương tự trên nhưng đổi tên sheet thành MSFT

In [32]:
# write multiple sheets
# requires use of the ExcelWriter class
from pandas import ExcelWriter #requires use of the ExcelWriter class
with ExcelWriter("all_stocks.xls") as writer: # all_stocks is the name of the file excel
    aapl.to_excel(writer, 'AAPL') #sheet 1 named 'AAPL'
    df.to_excel(writer, 'MSFT') #sheet 2 named 'MSFT'

In [34]:
# write to xlsx
df.to_excel("msft2.xlsx") #write XLSX files uses the same function but specifies .XLSX

In [35]:
df = pd.read_excel("msft2.xlsx")
df[:5]

   Unnamed: 0       Date   Open   High    Low  Close   Volume
0           0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1           1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2           2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3           3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4           4 2014-07-15  84.30  84.38  83.20  83.58  1874700

# Reading and writing JSON files

In [36]:
# wirite the excel data to a JSON file
df[:5].to_json("stocks.json")

In [39]:
# read data in from JSON
df_from_json = pd.read_json("stocks.json")
df_from_json[:5]

   Unnamed: 0       Date   Open   High    Low  Close   Volume
0           0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1           1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2           2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3           3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4           4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [40]:
#Reading HTML data from the web using pd.read_html
    # the URL to read
url = "http://www.fdic.gov/bank/individual/failed/banklist.html"

In [41]:
# read it
banks = pd.read_html(url) #banks is a list of dataframe; because the link has only one dataframe so only banks[0] is available

In [42]:
# the first dataframe in list
    # row 0 to 5
    # the first : stands for row (mean: all the row) , the second : stands for column (mean: colume 0:2)
banks[0][0:5].iloc[:, 0:2] #more detail: https://stackoverflow.com/questions/16815928/what-does-mean-on-numpy-arrays/16816142

                          Bank Name           City
0              The First State Bank  Barboursville
1                Ericson State Bank        Ericson
2  City National Bank of New Jersey         Newark
3                     Resolute Bank         Maumee
4             Louisa Community Bank         Louisa

In [44]:
#write data to HTML
df = pd.read_excel("stocks.xlsx") # read the stock data
df.head(2).to_html("stocks.html") # write the first two rows to HTML

# Reading and writing from/to SQL databases

In [47]:
#Write data to SQL database
import sqlite3     # reference SQLite
msft = pd.read_csv("msft.csv") # read in the stock data from CSV
msft["Symbol"]="MSFT"
aapl = pd.read_csv("aapl.csv")
aapl["Symbol"]="AAPL"

In [48]:
connection = sqlite3.connect("stocks.sqlite") 
# create connection to an SQLite 3 file. If the file does not exist, it is created on the fly

In [49]:
 # .to_sql() will create SQL to store the DataFrame
msft.to_sql("STOCK_DATA", connection, if_exists="replace") 
# write the MSFT data to a table named "STOCK_DATA", if the table doesnt exist it is created

In [51]:
aapl.to_sql("STOCK_DATA", connection, if_exists="append")  # then it append "STOCK_DATA" with the AAPL data

In [52]:
# commit the SQL and close the connection
connection.commit()
connection.close()

In [53]:
#Read data from SQL database and using WHERE clause in the SQL as well as select column
    # open the connection
connection = sqlite3.connect("stocks.sqlite")

In [54]:
# construct the query string
query = "SELECT * FROM STOCK_DATA WHERE " + \
        "Volume>29200100 AND Symbol='MSFT';"

In [55]:
 # execute and close connection
items = pd.io.sql.read_sql(query, connection, index_col='index')
connection.close()

In [56]:
# report the query result
items

            Date   Open   High    Low  Close    Volume Symbol
index
1081   5/21/2010  42.22  42.35  40.99  42.00  33610800   MSFT
1097   4/29/2010  46.80  46.95  44.65  45.92  47076200   MSFT
1826   6/15/2007  89.80  92.10  89.55  92.04  30656400   MSFT
3455   3/16/2001  47.00  47.80  46.10  45.33  40806400   MSFT
3712   3/17/2000  49.50  50.00  48.29  50.00  50860500   MSFT

In [57]:
#Reading stock data from GOOGLE Finance (reading data from remote area) using: pandas_datareader packet
import pandas_datareader as pdr

C:\Users\quocd\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [58]:
 # read from google and display the head of the data
start = datetime(2017, 4, 1)
end = datetime(2017, 4, 30)

In [61]:
goog = pdr.data.DataReader("MSFT", 'yahoo', start, end)
goog[:5]

                 High        Low       Open      Close    Volume  Adj Close
Date
2017-03-31  66.190002  65.449997  65.650002  65.860001  21040300  62.609928
2017-04-03  65.940002  65.190002  65.809998  65.550003  20400900  62.315228
2017-04-04  65.809998  65.279999  65.389999  65.730003  12997400  62.486347
2017-04-05  66.349998  65.440002  66.300003  65.559998  21448600  62.324734
2017-04-06  66.059998  65.480003  65.599998  65.730003  18103500  62.486347

In [64]:
# read options for MSFT
options = pdr.data.Options('MSFT', 'google')

NotImplementedError: currently only yahoo supported